<div class="uk-grid">
	<div class="uk-width-large-5-10 uk-container-center">
	<div class="alert alert-success" *ngIf="saveSuccess">
	    <strong>Success!</strong>
	</div>
	<form class="uk-form" #f="ngForm" (ngSubmit)="onSubmit(f)">
		<fieldset>
				<legend>Register Form</legend>
				<div class="uk-form-row">
				<div [hidden]="username.valid || !username.touched" class="uk-alert">
					username is required
				</div>
					<input type="text" required ngModel name="username" #username="ngModel" placeholder="" [ngClass]="{ 'uk-width-1-1': true }">
				</div>
				<div class="uk-form-row">
				<div [hidden]="email.valid || !email.touched" class="uk-alert">
					email is required
				</div>
					<input type="text" required ngModel name="email" #email="ngModel" placeholder="" [ngClass]="{ 'uk-width-1-1': true }">
				</div>
				<div class="uk-form-row">
					<div [hidden]="password.valid || !password.touched" class="uk-alert">
						password is required
					</div>
					<input type="password" ngModel name="password" #password="ngModel" placeholder="" ngClass="uk-width-1-1">
				</div>
				<button class="uk-button uk-margin-top" type="submit">Register</button>
		</fieldset>
	</form>
	</div>
</div>